{% extends 'all/main.html' %}


{% block content %}
<style>
    body{
        background-image: url("");
        background-size: cover;
        background-repeat: no-repeat;

    }
</style>
<div class="container h-100 d-flex">
    <div class="jumbotron my-auto">
      <h1 class="display-8" style="color:red"><strong>“Photography is a way of feeling, of touching, of loving. What you have caught on film is captured forever… It remembers little things, long after you have forgotten everything.”
        — Aaron Siskind</strong> </h1>
        <br>
        <br>

      <p class="lead">This is a personal gallery application that displays my photos for others to see and also view photos based on the location they were taken. A user can see photos that interest them and share the link of the photo(s). The photos will have details about them and will also be in categories.</p>
    </div>
</div>
{% endblock %}